# dependências
/node_modules
/.pnp
.pnp.*

# build
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# ambiente
.env
.env.local
.env*.local

# supabase cli
/supabase/.branches
/supabase/.temp
/supabase/.env

# sistema / editores
.DS_Store
*.pem
.vercel
.idea/
.vscode/*
!.vscode/extensions.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
